[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = AbdelRahman Adel AbdelFatttah
	email = ad3ldev@gmail.com
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/adele/.gitignore_global
